@import url(http://fonts.googleapis.com/css?family=Lato);
html > * {
    height: 100%;
}

body {
    font-family: 'Lato';
    background-color: #E6E6E6;
    height: 100%;
}


/*NAV BAR*/

.mobile-account {
    margin-top: -5rem;
    margin-right: 1rem;
    border: 1px solid white;
}

.account {
    margin-top: 1.2rem;
    margin-right: 1rem;
    border: 1px solid white;
    text-align: center;
}

.btn {
    color: white;
}

.navbar {
    background-color: #464D5B;
    color: #ffffff;
    height: 8rem;
}

.brand-name {
    display: inline-block;
    font-size: 1.5em;
    margin: 1.5rem 1.5rem;
    color: white;
}

.header-container {
    margin: 1rem 1rem;
    max-width: 100%;
}

.category {
    font-size: 2rem;
    color: #464D5B;
    margin-left: 2rem;
}


/*MAIN VIEW*/

.movie-img {
    box-shadow: .3rem .15rem 2px 1px rgba(0, 0, 0, .2)
}

.movie-img:hover {
    opacity: 0.6;
}

.movie-collection {
    margin-top: 10rem;
    margin-left: 7rem;
}

.pagination li a {
    color: grey;
}

.pagination li a.active {
    color: green;
    font-weight: bold;
}


/*MODAL*/

.modal {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8rem;
}

.bg-img {
    position: absolute;
    height: 150%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    -webkit-filter: blur(20px);
}

.modal-container {
    position: relative;
    color: white;
    z-index: 10;
}

.modal-container .movie-poster {
    width: 18%;
    margin-top: 15rem;
    margin-left: 24%;
    float: left;
}

.info {
    width: 45%;
    float: left;
    margin-left: 3rem;
}

.overview {
    float: left;
    width: 50%;
    margin-top: 5rem;
    margin-left: 3rem;
}

.title {
    float: left;
    width: 50%;
    margin-top: 13rem;
    margin-left: 3rem;
}


/*RESPONSIVE*/

@media(max-width: 650px) {
    .movie-img {
        height: 25rem;
        width: 100%;
        border-radius: 3%;
    }
    .movie-poster {
        margin: 1rem .5rem;
        height: 25rem;
        width: 45%;
    }
    .movie-collection {
        margin-top: 10rem;
        margin-left: 2rem;
    }
    .modal-container .movie-poster {
        width: 50%;
        margin-left: 24%;
        margin-top: 2em;
        float: left;
    }
    .info {
        width: 40%;
        float: left;
        margin-top: -37rem;
        margin-left: 23rem;
        height: 45rem;
    }
    .overview {
        float: left;
        width: 86%;
        margin-top: -12rem;
        margin-left: 1rem;
    }
    .title {
        float: left;
        width: 100%;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

@media(min-width: 650px) {
    .movie-img {
        height: 25rem;
        width: 100%;
        border-radius: 3%;
    }
    .movie-poster {
        margin: 1rem .5rem;
        height: 25rem;
        width: 30%;
    }
}

@media(min-width: 900px) {
    .movie-img {
        height: 25rem;
        width: 100%;
        border-radius: 3%;
    }
    .movie-poster {
        margin: 1rem .5rem;
        height: 25rem;
        width: 20%;
    }
}

@media(min-width:1200px) {
    .movie-img {
        height: 25rem;
        width: 100%;
        border-radius: 3%;
    }
    .movie-poster {
        margin: 1rem .5rem;
        height: 25rem;
        width: 18%;
    }
}
